/* 
 * NG-JustPop 
 * ----------
 * Container Bone's
 */

@import "_mixins";
@import "_colors";
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    @include user-select(none);
}